@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
    font-size: 3em;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 2px;
    color: rgb(29, 93, 253);
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #333;
    font-size: 1.2em;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    transition: 0.3s;
}

header ul li a:hover {
    color: rgb(35, 35, 35);
}

.content {
    position: relative;
    width: 50%;
    left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 850px;
}

.content .textBox h2 {
    color: #333;
    font-size: 3.6em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span {
    color: rgb(29, 93, 253);
    font-size: 1.2em;
    font-weight: 700;
}

.content .textBox p {
    color: #333;
}

.content .buttonBox {
    position: relative;
    width: 50%;
    top: 100px;
    left: 22%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content .buttonBox a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.4em;
    padding: 8px 20px;
    background: #333;
    color: #fff;
    font-weight: 500;
    border-radius: 50px;
    letter-spacing: 1px;
    transition: 0.3s;
}

.content .buttonBox a:hover {
    background: rgb(35, 35, 35);
}

.content .buttonBox .entrar {
    background: rgb(29, 93, 253);
}

.content .buttonBox .entrar:hover {
    background: rgb(24, 78, 214);
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(29, 93, 253);
    clip-path: circle(800px at right);
}

.pulse {
    animation: pulseAnimation 2s linear infinite;
}
@keyframes pulseAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(-30px);
    }
}

section .subcontent {
    position: absolute;
    width: 35%;
    left: 61.5%;
    top: 37%;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: justify;
    flex-wrap: wrap;
}

section .subcontent p {
    position: relative;
    color: #fff;
    font-size: 1.4em;
    transition: 0.5s;
}

section .subcontent .buttonBox {
    position: relative;
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section .subcontent .buttonBox img {
    height: 60px;
    filter: invert(1);
    transition: 0.5s;
}

section .subcontent .buttonBox img:hover {
    transform: translateY(-15px);
}

.redes {
    position: absolute;
    top: 90%;
    left: 76.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes li {
    list-style: none;
}

.redes li a {
    display: inline-block;
    margin: 0 5px;
    transform: scale(0.6);
    filter: invert(1);
}

footer {
    position: fixed;
    top: 95%;
    left: 14%;
}